<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>
  body { padding: 50px; }
</style>

<h1 class="jumbotron">TinyApp</h1>
<div id="login" class="row text-right">
<% if(username){ %>
  <form action="/logout" method="POST">
    <label>Logged in as: <%=username%></label>
    <input type="submit" value="Logout">
  </form>
<% } else { %>
  <form action="/login" method="POST">
    <label for="username">Enter your username:</label>
    <input id="username" type="text" name="username" placeholder="username" style="width: 100px">
    <input type="submit" value="Submit">
  </form>
<% } %>
</div>