<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>
  body { padding: 50px; }
</style>

<h1 class="jumbotron">TinyApp</h1>
<div id="login" class="row text-right">
<% if(user){ %>
  <form action="/logout" method="POST">
    <label>Logged in as: <%=user["email"]%></label>
    <input type="submit" value="Logout">
  </form>
<% } else { %>
  <form action="/register" method="GET">
    <button>Register</button>
  </form>
  <form action="/login" method="GET">
    <button>Log In</button>
  </form>
<% } %>
</div>