<html>
  <head>
    <title>TinyApp</title>
  </head>
  <body>
    <header>
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <h1 class="jumbotron">TinyApp</h1>
      <style>
         body { padding: 50px; }
      </style>
    </header>
    <% if(repeat) { %>
    <p>Email address already in use, please try again.</p>
    <% } %>
    <% if(invalid) { %>
    <p>Please enter a valid password.</p>
    <% } %>
    <form action="/register" method="POST">
    <label for="email">Enter email:</label>
    <input id="email" type="email" name="email" placeholder="johndoe@gmail.com">
    <label for="password">Enter password (minimum 6 characters):</label>
    <input id="password" type="password" name="password" placeholder="********">
    <input type="submit" value="Register">
    </form>
  </body>
</html>