<html>
  <head>
    <title>TinyApp</title>
  </head>
  <body>
    <header>
      <% include ./partials/_header %>
    </header>
    <ul>
        <li><a href='#'></a> Shortened URL: <a href='#'><%= shortURL %></a></li>
    </ul>
  </body>
</html>